[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "semEff"]
	path = semEff
	url = https://github.com/murphymv/semeff
	shallow = true
	registered = true
