[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dissCqN"]
	path = dissCqN
	url = https://github.com/murphymv/disscqn
[submodule "semEff"]
	path = semEff
	url = https://github.com/murphymv/semeff
